<% if(success && success.length) {%>

<div style="padding: 10px; color: green;">
    <%= success %>
</div>
<% } %>

<% if(error && error.length) {%>

    <div style="padding: 10px; color: red;">
        <%= error %>
    </div>
    <% } %>



