<section>
    <div class="row">
      <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="card1">
          <div class="icon-wrapper">
        <i class="fa-solid fa-bus"></i>
          </div>
          <h3>Culture of pakistan</h3>
          <p>
            Pakistan has a centuries old history and an incredible cultural heritage which is unique for the sub-continent.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card1">
          <div class="icon-wrapper">
           <i class="fa-duotone fa-user-group"></i>
          </div>
          <h3>Trust & Safety</h3>
          <p>
           TravelGateway, we want to help you find ‘The Good Out There.’ Travel brings out the best in us, lifts deserving businesses, and strengthens the communities we meet along the way. 
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card1">
          <div class="icon-wrapper">
           <i class="fa-solid fa-hotel"></i>
          </div>
          <h3>Culture food</h3>
          <p>
            Rice, wheat-based flatbread (roti, chappti, paratha, puri), lentils (dal), vegetables (sabzi), yogurt, and fruits (eaten with a dash of salt)
          </p>
        </div>
      </div>
 
    </div>
  </section>