<% layout('layouts/main_website')%>

    <link rel="stylesheet" href="/css/login.css">

    <div class="container">
        <form class="form" id="formm" aciton="/login" name="myForm" method="post">
            <h1>Forgot Password</h1>

            <label for="">Email:</label>
            <div class="formdesign" id="email">
                <input type="email" name="username" required placeholder="Enter a valid registered Email">
                <b><span class="formerror"> </span></b>
            </div>
            <input type="submit" name="" class="btn" value="Send Email">

        </form>
    </div>
