

  
  
  .container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    
  } 
  
  .form{
    border: 1px solid rgb(141, 134, 134);
    border-radius: 20px;
    background-color: #fefff1;
    padding: 20px;
  }
  
  
  
  .formdesign input{
    
  
      width: 61%; 
      /* padding: 3px 46px; */
      /* border: 1px solid rgb(44, 212, 86); */
      /* margin: 16px; */
      width: 72%;
      padding: 4px 20px 3px 27px;
      margin: 17px 1px 18px 2px;
      /* padding: 3px 46px; */
      /* border: 1px solid rgb(44, 212, 86); */
      /* margin: 16px; */
      border: 2px solid rgb(18, 18, 19);
      border-radius: 14px;
      font-size: 13px;
      /* position: absolute; */
      position: relative
  
  }
  #checkbox{
    width: auto;
    margin: 1px 0px 2px -26px;
  }
  #checkbox2{
    width: auto;
    margin: 1px 0px 2px -26px;
  }
  label{
    position: absolute;
    display: flex;
    font-weight: bold;
  }
  .formerror {
    color: red;
   
    /* font-size: 10px; */
    /* color: red; */
      /* border: 2px solid rgb(29, 212, 44); */
      margin: 0px 5px 2px 2px;
      padding: 0px 24px 0px 5px;
      top: 2px;
      display: flex;
      top: 54px;
  }
  .form h1{
    margin: 0px 0px 0px 0px;
      padding: 2px 1px 2px 2px;
      border-radius: 10px;
      border: 2px solid rgb(121, 34, 34);
      background-color: black;
      color: whitesmoke;
      width: 350px;
  }
  
  
  .btn {
    margin: auto;
    cursor: pointer;
    width: 80%;
    padding: 6px 45px;
    background-color: rgb(20, 20, 15);
    border: 2px solid rgb(238, 237, 238);
    border-radius: 14px;
    color: rgb(248, 247, 247);
    font-size: 13px;
   transform: all 1s ease-in-out;
  }
  
  .btn:hover {
   background-color: rgb(13, 13, 211);
   transform: all 1s ease-in-out; 
   color: white;
  
  }
  /* p{
    background-color: azure;
    display: inline-block;
    border-radius: 8px;
  } */
  .fa-brands:hover{
     color: rgb(94, 182, 12);
     transform: all 2s ease;
  }
  /* span{
    margin: -36px 21px 4px 33px;
      padding: 6px 3px 2px 0px;
  } */
  /* b{
    margin: 17px -8px 2px 2px;
      padding: 8px 9px 29px 7px;
  } */